@media(max-width: 991px) {
  .home {
    flex-direction: row;
  }

  form {
    width: 90%;
    
    div {
        width: 100%;
    }
  }
}

@media(max-width: 767px) {
  .home {
    flex-direction: column;
  }

  .staff {
    width: 90%;
    margin: 0 auto;
  }

  .barchart {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    h2 {
      font-size: 1em;
    }
  }

  .legend {
    padding: 1%;
  }
}