- 
  const staff = [
    {'photo': './img/user1.jpg', 'position': 'pr manager', 'moto': 'Courage is what it takes to stand up and speak, and also to sit down and listen.', 'engagement': {'job': 10, 'team': 5, 'supervision': 1}},
    {'photo': './img/user2.jpg', 'position': 'team lead', 'moto': 'We can throw stones, complain about them, stumble on them, climb over them, or build with them', 'engagement': {'job': 7, 'team': 9, 'supervision': 6} },
    {'photo': './img/user3.jpg', 'position': 'hr', 'moto': 'Intelligence is not to make no mistakes, but quickly to see how to make them good.', 'engagement': {'job': 8, 'team': 7, 'supervision': 7} }
  ]

- const maxIndex = 10;